<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            <app-filter-by></app-filter-by>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <app-view-type></app-view-type>
                </div>
                <ng-container *ngIf="productDetails.data?.length; else noProduct">
                    <ng-container *ngFor="let item of productDetails.data">
                        <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="commonService.shopView.value; else listView">
                            <app-product-grid [products]="item"></app-product-grid>
                        </div>
                        <ng-template #listView>
                            <app-product-list [products]="item"></app-product-list>
                        </ng-template>
                    </ng-container>
                </ng-container>
                <ng-template #noProduct>
                    <h3 class="text-center">No product exist...</h3>
                </ng-template>
                <div class="col-12">
                    <ngb-pagination class="d-flex justify-content-center"
                        [collectionSize]="productDetails.totalProducts" [(page)]="page" [pageSize]="6"
                        (pageChange)="refreshItems(page)">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>