<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            <app-filter-by></app-filter-by>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <app-view-type></app-view-type>
                </div>
                <ng-container *ngFor="let item of [1,2,3,4,5]">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="common.shopView.value; else listView">
                        <app-product-grid></app-product-grid>
                    </div>
                    <ng-template #listView>
                        <app-product-list></app-product-list>
                    </ng-template>
                </ng-container>
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#"><span>Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>