.gradient-bg {
    background: rgb(214, 214, 201);
    background: linear-gradient(6deg, rgba(214, 214, 201, 1) 5%, rgba(200, 207, 161, 1) 25%, rgba(208, 207, 127, 1) 50%, rgba(255, 228, 132, 1) 100%);
}

.btn-color {
    background-color: #0993a8;
    color: #fff;
}

.btn-color:hover {
    background-color: #10b4ce;
    color: #fff;
}

.text-color {
    color: #0993a8
}