<ng-container *ngIf="common.breadCrumb | async as data">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <ng-container *ngFor="let item of data; last as isLast">
                        <a class="breadcrumb-item text-dark" routerLink="item.link" routerLinkActive="active">
                            {{ item.label }}
                        </a>
                    </ng-container>
                </nav>
            </div>
        </div>
    </div>
</ng-container>