<ng-container *ngIf="common.breadCrumb | async as data">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <ng-container *ngFor="let item of data.value[0].linkList; last as isLast">
                        <a class="breadcrumb-item text-dark" [routerLink]="item.link"
                            routerLinkActive="not-allowed-link">
                            {{ item.label }}
                        </a>
                    </ng-container>
                </nav>
            </div>
        </div>
    </div>
</ng-container>