<section class="container-fluid gradient-bg d-flex flex-column justify-content-center align-items-center rounded-lg">
    <form class=" bg-light shadow rounded-lg form-bg" [formGroup]="registrationForm" (ngSubmit)="handleSubmit()">
        <div class="row justify-content-center align-items-center p-lg-3 p-3">
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                <h2 class="mb-3 text-center text-color">Create Account</h2>
                <hr class="border-2 border-black">
                <div class="my-3">
                    <label for="firstName" class="form-label">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control rounded" id="firstName" placeholder="Enter your first name"
                        formControlName="firstName"
                        [ngClass]="{'border-danger': (fc.firstName.touched || submitted) && fc.firstName.hasError('required')}">
                    <span *ngIf="(fc.firstName.touched || submitted) && fc.firstName.hasError('required')"
                        class="text-danger">
                        First name is required.
                    </span>
                </div>
                <div class="my-3">
                    <label for="lastName" class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control rounded" id="lastName" placeholder="Enter your last name"
                        formControlName="lastName"
                        [ngClass]="{'border-danger': (fc.lastName.touched || submitted) && fc.lastName.hasError('required')}">
                    <span *ngIf="(fc.lastName.touched || submitted) && fc.lastName.hasError('required')"
                        class="text-danger">
                        Last name is required.
                    </span>
                </div>
                <div class="my-3">
                    <label for="phone" class="form-label">Phone Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control rounded" id="phone" placeholder="Enter your phone number"
                        formControlName="phone"
                        [ngClass]="{'border-danger': (fc.phone.touched || submitted) && fc.phone.hasError('required')}"
                        maxlength="10">
                    <span *ngIf="(fc.phone.touched || submitted) && fc.phone.hasError('required')" class="text-danger">
                        Phone is required.
                    </span>
                    <span *ngIf="fc.phone.hasError('pattern')" class="text-danger">
                        Phone must be between 0-9.
                    </span>
                    <span *ngIf="fc.phone.hasError('minlength') && registrationForm.value.phone" class="text-danger">
                        Phone Must contains 10 digits.
                    </span>
                </div>
                <div class="my-3">
                    <label for="email" class="form-label">Email address<span class="text-danger">*</span></label>
                    <input type="email" class="form-control rounded" id="email" placeholder="Enter your email"
                        formControlName="email"
                        [ngClass]="{'border-danger': (fc.email.touched || submitted) && fc.email.hasError('required')}">
                    <span *ngIf="(fc.email.touched || submitted) && fc.email.hasError('required')" class="text-danger">
                        Email is required.
                    </span>
                    <span *ngIf="fc.email.hasError('email') && registrationForm.value.email" class="text-danger">
                        Enter a valid email.
                    </span>
                </div>
                <div class="my-3">
                    <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                    <div class="d-flex flex-row">
                        <input [type]="!showPassword ? 'password' : 'text'" class="form-control rounded" id="password"
                            placeholder="Enter your password" formControlName="password"
                            [ngClass]="{'border-danger': (fc.password.touched || submitted) && fc.password.hasError('required')}">
                        <span class="btn btn-color rounded bi" [ngClass]="!showPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="showPassword = !showPassword"></span>
                    </div>
                    <span class="text-danger"
                        *ngIf="(fc.password.touched || submitted) && fc.password.hasError('required')">
                        Password is required.
                    </span>
                    <span *ngIf="fc.password.hasError('password') && registrationForm.value.password"
                        class="text-danger">
                        Enter a strong Password.
                    </span>
                </div>
                <button type="submit" class="btn btn-color rounded w-100 my-3">Register</button>
                <p class="text-center">Already have an account?<a class="text-blue" routerLink="/auth/login"> Login</a>
                </p>
            </div>
            <div class="col-xl-6 d-none d-xl-block">
                <img src="/assets/img/register.png" alt="login svg" class="img-fluid">
            </div>
        </div>
    </form>
</section>