<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="changePassForm" (ngSubmit)="handleSubmit()">
        <div class="form-outline mb-2">
            <label for="oldpass" class="text-black">Old password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" placeholder="Enter old  password"
                [ngClass]="{'border-danger':submitted}" formControlName="oldPass" />
            <small [ngClass]="{'text-danger': submitted}">*Old password is required to change the password</small>
        </div>
        <div class="form-outline my-3">
            <label for="newpass" class="text-black">New password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" placeholder="Enter strong password"
                [ngClass]="{'border-danger':(changePassForm.controls.newPass.touched || submitted ) && changePassForm.controls.newPass.hasError('required')}"
                formControlName="newPass" />
            <span
                *ngIf="(changePassForm.controls.newPass.touched || submitted ) && changePassForm.controls.newPass.hasError('required')"
                class="text-danger">Password is required</span>
            <span *ngIf="changePassForm.controls.newPass.hasError('password') && changePassForm.value.newPass"
                class="text-danger">Enter a strong Password</span>
        </div>
        <button type="submit" class="btn btn-color rounded w-100">Change Password</button>
    </form>
</div>