<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">
        <div class="form-outline mb-2">
            <label for="oldPassword" class="text-black">Old password <span class="text-danger">*</span></label>
            <input [type]="!showPassword ? 'password' : 'text'" class="form-control" placeholder="Enter old  password"
                [ngClass]="{'border-danger':submitted && !changePasswordForm.value.oldPassword}"
                formControlName="oldPassword" />
            <small [ngClass]="{'text-danger': submitted && !changePasswordForm.value.oldPassword}">*Old password is
                required to change the password.</small>
        </div>
        <div class="form-outline my-3">
            <label for="newPassword" class="text-black">New password <span class="text-danger">*</span></label>
            <input [type]="!showPassword ? 'password' : 'text'" class="form-control" placeholder="Enter strong password"
                [ngClass]="{'border-danger':(changePasswordForm.controls.newPassword.touched || submitted ) && changePasswordForm.controls.newPassword.hasError('required')}"
                formControlName="newPassword" />
            <span
                *ngIf="(changePasswordForm.controls.newPassword.touched || submitted ) && changePasswordForm.controls.newPassword.hasError('required')"
                class="text-danger">Password is required.</span>
            <span
                *ngIf="changePasswordForm.controls.newPassword.hasError('password') && changePasswordForm.value.newPassword"
                class="text-danger">Enter a strong Password.</span>
        </div>
        <div class="form-outline my-3">
            <label for="confirmPassword" class="text-black">Confirm password <span class="text-danger">*</span></label>
            <input [type]="!showPassword ? 'password' : 'text'" class="form-control" placeholder="Re enter password"
                [ngClass]="{'border-danger':(changePasswordForm.controls.confirmPassword.touched || submitted ) && changePasswordForm.controls.confirmPassword.hasError('required')}"
                formControlName="confirmPassword" />
            <span
                *ngIf="(changePasswordForm.controls.confirmPassword.touched || submitted ) && changePasswordForm.controls.confirmPassword.hasError('required')"
                class="text-danger">Password is required.</span>
        </div>
        <small *ngIf="isPasswordEqual" [ngClass]="{'text-danger': isPasswordEqual}">*Password must be same.</small> <br>
        <input type="checkbox" name="showPassword" id="showPassword" (click)="showPassword = !showPassword"
            class="me-1"><label for="showPassword">Show Password</label>
        <button type="submit" class="btn btn-primary rounded w-100">Change Password</button>
    </form>
</div>