<!-- header (Topbar) -->
<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" *ngFor="let item of pagesLink" routerLink="{{item.link}}"
                    routerLinkActive="text-dark">{{item.pageLabel}}</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group mr-2" *ngIf="authService.isLoggedIn | async; else validUser">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                        Welcome , {{userDetails.firstName}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item bi bi-file-earmark-lock" type="button"
                            (click)="openChangePassModal()">
                            Change Password
                        </button>
                        <button class="dropdown-item border-2 border-bottom bi bi-gear" type="button"
                            routerLink="/profile"> Profile Setting</button>
                        <button class="dropdown-item bi bi-box-arrow-left" type="button" (click)="logout()"> Log
                            Out</button>
                    </div>
                </div>
                <ng-template #validUser>
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                        My Account
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" routerLink="/auth/login">Sign in</button>
                        <button class="dropdown-item" type="button" routerLink="/auth/register">Sign up</button>
                    </div>
                </ng-template>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Change
                        Language</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ng-container *ngFor="let item of language">
                            <button class="dropdown-item custom-scrollbar" type="button"
                                (click)="changeLanguage(item.code)">{{item.language}} </button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a routerLink="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle">0</span>
                </a>
                <a routerLink="/cart" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle">{{numberOfCartItem}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a routerLink="/home" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products" [(ngModel)]="searchQuery"
                        name="search">
                    <button type="button" (click)="searchQuery = ''" *ngIf="searchQuery"
                        class="input-group-text bg-transparent text-primary rounded-0">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="submit" (click)="searchRecords()"
                        class="input-group-text bg-transparent text-primary rounded-0">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Customer Service</p>
            <h5 class="m-0">+012 345 6789</h5>
        </div>
    </div>
</div>