<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div>
                <div class="bg-light">
                    <ngb-carousel [showNavigationIndicators]="false">
                        <ng-container *ngFor="let item of products.images; first as isFirst">
                            <ng-template ngbSlide>
                                <img class="min-vw-10 min-vh-10" [src]="item" alt="Image">
                            </ng-template>
                        </ng-container>
                    </ngb-carousel>
                </div>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <!-- Product Name -->
                <h3>{{ products.name }}</h3>
                <div class="d-flex mb-3">
                    <!-- Rating -->
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(99 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">{{ products.price }}</h3>
                <p class="mb-4">{{ productDescription.short }}</p>
                <form [formGroup]="colorSizeForm" (ngSubmit)="addToCart()">
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Sizes:</strong>
                        <div class="custom-control custom-radio custom-control-inline"
                            *ngFor="let item of products.sizes; index as i">

                            <input type="radio" class="custom-control-input" [id]="item" [value]="item" name="size"
                                formControlName="size">

                            <label class="custom-control-label" [for]="item">
                                {{ item }}
                            </label>

                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Colors:</strong>
                        <div class="custom-control custom-radio custom-control-inline"
                            *ngFor="let item of products.colors; index as i">
                            <input type="radio" class="custom-control-input" [id]="item" [value]="item" name="color"
                                formControlName="color">
                            <label class="custom-control-label" [for]="item">
                                {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus" type="button"
                                    (click)="colorSizeForm.get('quantity')?.setValue(colorSizeForm.get('quantity')?.value-1)"
                                    [disabled]="!(colorSizeForm.get('quantity')?.value > 1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center"
                                [value]="colorSizeForm.get('quantity')?.value" formControlName="quantity" readonly>
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus" type="button"
                                    (click)="colorSizeForm.get('quantity')?.setValue(colorSizeForm.get('quantity')?.value+1)"
                                    [disabled]="!(products.quantity > colorSizeForm.get('quantity')?.value)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary px-3" *ngIf="!isItemInCart()"
                            [disabled]="!(colorSizeForm.get('size')?.value && colorSizeForm.get('color')?.value)"><i
                                class="fa fa-shopping-cart mr-1"></i>
                            Add To Cart
                        </button>
                    </div>
                </form>
                <div class="d-flex pt-2">
                    <strong class="text-dark mr-2">Share on:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" routerLink="{{item.link}}" *ngFor="let item of socialMediaLinks">
                            <i class="fab fa-{{item.icon}}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4" ngbNav #nav="ngbNav" [activeId]="1">
                    <ng-container [ngbNavItem]="1">
                        <button class="nav-item nav-link text-dark" ngbNavLink>Description</button>
                        <ng-template ngbNavContent class="tab-pane fade show">
                            <app-product-description></app-product-description>
                        </ng-template>
                    </ng-container>
                    <ng-container [ngbNavItem]="2">
                        <button class="nav-item nav-link text-dark" ngbNavLink>Information</button>
                        <ng-template ngbNavContent>
                            <app-product-additional-info></app-product-additional-info>
                        </ng-template>
                    </ng-container>
                    <ng-container [ngbNavItem]="3">
                        <button class="nav-item nav-link text-dark" ngbNavLink>Reviews (0)</button>
                        <ng-template ngbNavContent>
                            <app-product-reviews></app-product-reviews>
                        </ng-template>
                    </ng-container>
                </div>
                <div [ngbNavOutlet]="nav" class="tab-pane fade show mt-2"></div>
            </div>
        </div>
    </div>
</div>
<app-related-product></app-related-product>