<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">You May Also Like</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
                <ng-template carouselSlide>
                    <app-product-grid></app-product-grid>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>