<div class="card mb-3">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-1">
            <img [src]="products.images[0]" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ products.name }}
            </h5>
            <div class="flex-grow-1 ms-3">
                {{ products.price }}
            </div>
            <div class="text-center d-grid gap-2 d-md-flex">
                <button type="submit" class="btn btn-outline-primary">
                    Add to Wishlist
                </button>
                <button type="button" class="btn btn-primary">
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</div>