<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <!-- Billing Address Section -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing
                    Address</span>
            </h5>
            <app-checkout-form (addressDetails)="shippingDetails = $event;"></app-checkout-form>
            <!-- <div class="col-md-12 my-3 p-0">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="shipto" (click)="setShippingForm(checkbox)"
                        #checkbox>
                    <label class="custom-control-label" for="shipto">Ship to different address</label>
                </div>
            </div> -->
            <div *ngIf="showShippingForm">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping
                        Address</span>
                </h5>
                <app-checkout-form></app-checkout-form>
            </div>
        </div>
        <div class="col-lg-4">
            <ng-container *ngIf="authService.getLoginTokenFromLocalStorage()">

                <h5 class="section-title position-relative text-uppercase">
                    <span class="bg-secondary pr-3">
                        Apply Coupon
                    </span>
                </h5>
                <div class="row my-3">
                    <div class="col-8 pr-0">
                        <input type="text" class="form-control" id="coupon" placeholder="Apply Coupon"
                            [(ngModel)]="coupon" appContainSpace [readOnly]="couponApplied">
                    </div>
                    <div class="col-4">
                        <button type="button" (click)="checkCoupon()" *ngIf="!couponApplied; else removeButton"
                            class="btn btn-block btn-primary font-weight-bold">
                            Apply Coupon
                        </button>
                        <ng-template #removeButton>
                            <button type="button" *ngIf="couponApplied" (click)="removeCoupon()"
                                class="btn btn-block btn-primary font-weight-bold">
                                Remove Coupon
                            </button>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                    Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    <div class="d-flex justify-content-between" *ngFor="let item of cartItems">
                        <p>{{item.name}}</p>
                        <p>${{item.totalPrice | number : '1.2-2'}}</p>
                    </div>
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between" [ngClass]="{'mb-3': !discount}">
                        <h6>Subtotal</h6>
                        <h6>${{subTotal}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3 mt-2 border-bottom" *ngIf="discount">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium">${{discount | number : '1.2-2'}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{shippingCharge | number : '1.2-2'}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{(subTotal- discount) + shippingCharge | number : '1.2-2'}}</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                        Payment <span class="text-danger">*</span>
                    </span></h5>
                <div class="bg-light p-30">
                    <ng-container *ngFor="let method of paymentMethods">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" [id]="method"
                                    [value]="method" [(ngModel)]="paymentMethod">
                                <label class="custom-control-label" [for]="method">{{method | titlecase}}</label>
                            </div>
                        </div>
                    </ng-container>
                    <small class="text-danger" *ngIf="isPaymentMethodSelected">Please select a payment method.</small>
                    <button class="btn btn-block btn-primary font-weight-bold py-3" (click)="handleOrder()">
                        Place Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>