<div class="row">
    <div class="col-md-6" *ngIf="reviews.totalReviews; else noReview">
        <h4 class="mb-4">{{reviews.totalReviews}} review for {{productName}}</h4>
        <div class="list-message custom-scrollbar">
            <div class=" media mb-4" *ngFor="let item of reviews.data">
                <img [src]="item.profilePic" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                <div class="media-body">
                    <h6>{{item.name}}<small> - <i>{{item.date | date}}</i></small></h6>
                    <div class="text-primary mb-2">
                        <ngb-rating [rate]="item.rating || 0" [max]="5" [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <small>
                                    <i class="{{fill === 100 ? 'fas fa-star':'far fa-star'}} mr-1"></i>
                                </small>
                            </ng-template>
                        </ngb-rating>
                    </div>
                    <p>{{item.message}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noReview>
        <div class="col-md-6 align-items-center justify-content-center">
            <h2>Be the first to add review.</h2>
        </div>
    </ng-template>
    <div class="col-md-6">
        <h4 class="mb-4">Leave a review</h4>
        <small>Your email address will not be published. Required fields are marked *</small>
        <form [formGroup]="reviewForm" (ngSubmit)="handleSubmit()">
            <div class="d-flex mt-2">
                <p class="mb-0 mr-2">Your Rating * :</p>
                <div class="text-primary">
                    <ngb-rating [max]="5" formControlName="rating">
                        <ng-template let-fill="fill" let-index="index">
                            <small>
                                <i class="{{fill === 100 ? 'fas fa-star':'far fa-star'}} mr-1"></i>
                            </small>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
            <span class="text-danger"
                *ngIf="reviewForm.get('rating')?.hasError('required') && reviewForm.get('rating')?.touched">
                Please select rating.
            </span>
            <div class="form-group mt-2">
                <label for="message">Your Review *</label>
                <textarea id="message"
                    [ngClass]="{'border-danger': reviewForm.get('message')?.hasError('required') && reviewForm.get('message')?.touched}"
                    formControlName="message" cols="30" rows="5" class="form-control custom-scrollbar"
                    appContainSpace></textarea>
                <span class="text-danger"
                    *ngIf="reviewForm.get('message')?.hasError('required') && reviewForm.get('message')?.touched">
                    Please select rating.
                </span>
            </div>
            <div class="form-group mb-0">
                <ng-container *ngIf="userDetail.firstName; else loginRoute">
                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                </ng-container>
                <ng-template #loginRoute>
                    <input type="button" value="Login" routerLink="/auth/login" class="btn btn-primary px-3">
                </ng-template>
            </div>
        </form>
    </div>
</div>