<div class="container-fluid">
    <ng-container *ngIf="wishListProducts.length; else noProductInWishlist">
        <h1 class="position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                Your Wishlist
            </span>
        </h1>
        <hr>
        <ng-container *ngFor="let item of wishListProducts">
            <app-product-list [products]="item" (wishlist)="deleteProductFromWishlist($event)"></app-product-list>
        </ng-container>
    </ng-container>
    <ng-template #noProductInWishlist>
        <div class="text-center fs-3">
            You haven't added anything in Wishlist!<br>
            <a class="btn btn-primary py-2 px-4 mt-3" routerLink="/product">Add product</a>
        </div>
    </ng-template>
</div>