<section class="container d-flex justify-content-center my-5">
    <div class="card" style="width: 450px;">
        <div class="card-header h5 text-white bg-primary">Reset Password</div>
        <form class="card-body  pb-4" [formGroup]="resetPassForm" (ngSubmit)="handleSubmit()">
            <div class="form-outline my-2">
                <label for="oldpass">Old password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Enter old  password"
                    [ngClass]="{'border-danger':(resetPassForm.controls.oldPass.touched || submitted )}"
                    formControlName="oldPass" />
                <span
                    *ngIf="(resetPassForm.controls.oldPass.touched || submitted ) && resetPassForm.controls.oldPass.hasError('required')"
                    class="text-danger">Password is required</span>
                <span *ngIf="resetPassForm.controls.oldPass.hasError('email')" class="text-danger">Enter a valid
                    email</span>
            </div>
            <div class="form-outline my-3">
                <label for="newpass">New password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Enter new password"
                    [ngClass]="{'border-danger':(resetPassForm.controls.newPass.touched || submitted )}"
                    formControlName="newPass" />
                <span
                    *ngIf="(resetPassForm.controls.newPass.touched || submitted ) && resetPassForm.controls.newPass.hasError('required')"
                    class="text-danger">Password is required</span>
                <span *ngIf="resetPassForm.controls.newPass.hasError('email')" class="text-danger">Enter a valid
                    email</span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form>
    </div>
</section>