<section class="container d-flex justify-content-center gradient-bg my-5">
    <div class="card" style="width: 450px;">
        <div class="card-header h5 bg-primary  text-center">Reset Password</div>
        <form class="card-body px-5" [formGroup]="resetPassForm" (ngSubmit)="handleSubmit()">
            <div class="form-outline my-2">
                <label for="password">Password <span class="text-danger">*</span></label>
                <div class="d-flex flex-row">
                    <input [type]="showPassword ? 'test' : 'password'" class="form-control"
                        placeholder="Enter new password" PasswordNotMatch
                        [ngClass]="{'border-danger':(resetPassForm.controls.password.touched || submitted ) && resetPassForm.controls.password.hasError('required')}"
                        formControlName="password" />
                </div>
                <span
                    *ngIf="(resetPassForm.controls.password.touched || submitted ) && resetPassForm.controls.password.hasError('required')"
                    class="text-danger">Password is required.</span>
                <span *ngIf="resetPassForm.controls.password.hasError('password') && resetPassForm.value.password"
                    class="text-danger">Enter a strong Password.</span>
            </div>
            <div class="form-outline my-2">
                <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
                <div class="d-flex flex-row">
                    <input [type]="showPassword ? 'test' : 'password'" class="form-control"
                        placeholder="Re enter the password" PasswordNotMatch
                        [ngClass]="{'border-danger':(resetPassForm.controls.confirmPassword.touched || submitted ) && resetPassForm.controls.confirmPassword.hasError('required')}"
                        formControlName="confirmPassword" />
                </div>
                <span
                    *ngIf="(resetPassForm.controls.confirmPassword.touched || submitted ) && resetPassForm.controls.confirmPassword.hasError('required')"
                    class="text-danger">Confirm password is required.</span>
            </div>
            <small [ngClass]="{'text-danger': isPasswordEqual}">*Password must be same.</small> <br>
            <input type="checkbox" name="showPassword" id="showPassword" (click)="showPassword = !showPassword"
                class="me-1 my-2"><label for="showPassword">Show Password</label>
            <button type="submit" class="btn btn-color w-100 mb-2">Reset password</button>
        </form>
    </div>
</section>