<section class="container d-flex justify-content-center my-5">
    <div class="card text-center" style="width: 450px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div data-mdb-input-init class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" placeholder="Enter your register email" />
            </div>
            <a class="btn btn-primary w-100">Reset password</a>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-link">Login</button>
                <button class="btn btn-link">Register</button>
            </div>
        </div>
    </div>
</section>