.custom-dropdown-menu-width {
    width: calc(100% - 30px);
    z-index: 999;
}

.custom-category-dropdown {
    height: 65px;
    padding: 0 30px;
}

.active-cat {
    background-color: #F5F5F5 !important;
}