.min-height-dropdown {
    height: 250px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.custom-dropdown-menu-width {
    width: calc(100% - 30px);
    z-index: 999;
}

.custom-category-dropdown {
    height: 65px;
    padding: 0 30px;
}