<section class="container d-flex gradient-bg justify-content-center my-5">
    <div class="card" style="width: 450px;">
        <div class="card-header h5 form-bg text-center">Forgot Password?</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form class="form-outline" [formGroup]="forgotPassForm" (ngSubmit)="handleSubmit()">
                <div class="my-3">
                    <input type="email" id="typeEmail" formControlName="email" class=" form-control"
                        placeholder="Enter your registered email"
                        [ngClass]="{'border-danger':(forgotPassForm.controls.email.touched || submitted ) && forgotPassForm.controls.email.hasError('required')}" />
                    <span
                        *ngIf="(forgotPassForm.controls.email.touched && forgotPassForm.controls.email.touched || submitted ) && forgotPassForm.controls.email.hasError('required')"
                        class="text-danger">Email is required.</span>
                    <span *ngIf="forgotPassForm.controls.email.hasError('email') && forgotPassForm.value.email"
                        class="text-danger">
                        Enter a valid email.</span>
                </div>
                <button role="submit" class="btn btn-color  w-100 my-3">Send Email</button>
            </form>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-link" routerLink="/auth/login">Login</button>
                <button class="btn btn-link" routerLink="/auth/register">Register</button>
            </div>
        </div>
    </div>
</section>