<div class="container-fluid" *ngIf="cartItems && cartItems.length > 0">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <ng-container *ngFor="let item of cartItems">
                        <tr>
                            <td routerLink="/product/details/{{item.productId}}" role="button">
                                <div class="float-end">
                                    <img [src]="item.images[0]" alt="product img" class="img-fluid me-1" width="50"
                                        height="50">
                                </div>
                            </td>
                            <td class="align-middle" routerLink="/product/details/{{item.productId}}" role="button">
                                <div class="float-start">
                                    {{item.name}}
                                </div>
                            </td>
                            <td class="align-middle">{{item.actualPrice | number : '1.2-2'}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" type="button"
                                            [disabled]="!(item.quantity > 1)" (click)="updateItem(item,'minus')">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text"
                                        class="form-control form-control-sm bg-secondary border-0 text-center"
                                        [value]='item.quantity' readonly>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" type="button"
                                            (click)="updateItem(item,'plus')"
                                            [disabled]="(item.quantity - 1 > item.totalQuality)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{(item.actualPrice * item.quantity) | number : '1.2-2'}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"
                                    (click)="deleteItem(item.productId)"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4" *ngIf="cartItems && cartItems.length > 0">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart
                    Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{cartTotal | number : '1.2-2'}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{(cartTotal && cartTotal + 10) | number : '1.2-2'}}</h5>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">
                        Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!cartItems || !cartItems.length" class="text-center fs-3">
    You haven't added anything in Cart!<br>
    <a class="btn btn-primary py-2 px-4 mt-3" routerLink="/product">Shop Now</a>
</div>