<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1 class="display-4">Frequently Asked Questions</h1>
      <p class="lead text-muted">Find answers to common questions about our services.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="faqAccordion">
        <div class="card" *ngFor="let faq of faqs; let i = index">
          <div class="card-header" [id]="'heading' + i" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
            [attr.aria-expanded]="i === 0" [attr.aria-controls]="'collapse' + i">
            <p class="mb-0 d-flex flex-row justify-content-between align-items-center">
              <button class="btn fs-5 text-dark" [ngClass]="{'collapsed': i !== 0}">
                {{ faq.question }}
              </button>
              <i class="fas fa fa-angle-down"></i>
            </p>
          </div>
          <div [id]="'collapse' + i" class="collapse" [ngClass]="{'show': i === 0}" [attr.aria-labelledby]="'heading' + i" data-parent="#faqAccordion">
            <div class="card-body">
              {{ faq.answer }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
